.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rmd
/writing/curvature_review_papers/
/writing/vector_valued_functions.txt
/writing/Zeiss_Zen_instructions.txt
/writing/googlesheets_secret.txt
*.pdf
*.pptx
*.docx
*.tif
*.gsheet
*.jpg
*.jpeg
*.svg

