*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rmd
/data/raw_data/epimedium_photos/
/dryad/
/publication/
/writing/
/writing/curvature_review_papers/
/writing/vector_valued_functions.txt
/writing/Zeiss_Zen_instructions.txt
/writing/googlesheets_secret.txt
*.pdf
*.pptx
*.docx
*.tif
*.gsheet
*.jpg
*.jpeg
*.svg

.Rproj.user
